body{
    margin: 0;
    padding: 0;
    background-color: #2c3e50;
}

.container{
    width: 100vw;
    height: 100vh;
    position: relative;
    transform: rotate(45deg);
}

.star{
    height: 2px;
    background: linear-gradient(-45deg,#ecf0f1,rgba(0, 0, 255, 0));
    border-radius: 50%;
    position: absolute;
    filter: drop-shadow(0 0 6px #7f8c8d);
    animation: sa 3s ease-in-out infinite, move 3s ease-in-out infinite;
}

.star:nth-child(1){
    top: 30%;
    left: 36%;
    animation-delay: 1s;
}

.star:nth-child(2){
    top: 40%;
    left: 30%;
    animation-delay: 1.5s;
}

.star:nth-child(3){
    top: 35%;
    left: 30%;
    animation-delay: 2s;
}

.star:nth-child(4){
    top: 25%;
    left: 35%;
    animation-delay: 2.5s;
}

.star:nth-child(5){
    top: 30%;
    left: 33%;
    animation-delay: 3s;
}

.star:nth-child(6){
    top: 20%;
    left: 33%;
    animation-delay: 3.5s;
}

.star:nth-child(7){
    top: 10%;
    left: 30%;
    animation-delay: 4s;
}

.star:nth-child(8){
    top: 34%;
    left: 35%;
    animation-delay: 4.5s;
}

.star:nth-child(9){
    top: 25%;
    left: 30%;
    animation-delay: 4.3s;
}

.star:nth-child(10){
    top: 15%;
    left: 35%;
    animation-delay: 2.3s;
}

@keyframes sa{
    0%{
        width: 0;
    }
    50%{
        width: 100px;
    }
    100%{
        width: 0;
    }
}

@keyframes move{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(300px);
    }
    
}