body{
    margin: 0;
    padding: 0;
    background: #fd79a8;
}

.box{
    display: inline-block;
    margin: 45vh 29vw;
    text-align: center;
    transition: .3s all;
}

.box span{
    background: #fab1a0;
    width: 120px;
    height: 120px;
    color: #fff;
    display: block;
    line-height: 120px;
    font-weight: bold;
    font-size: 30px;
    float: left;
    transition: .5s all;
}
.box span:nth-child(1){
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.box span:nth-child(5){
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.box:hover span:nth-child(odd){
    transform: skewY(-10deg);
    color: #dfe6e9;
    box-shadow: 0 60px 20px rgba(0, 0, 0, .1);
}
.box:hover span:nth-child(even){
    transform: skewY(10deg);
    color: #dfe6e9;
    box-shadow: 0 60px 20px rgba(0, 0, 0, .1) ,inset 0 0px 20px rgba(0, 0, 0, .2) ;
}

.box:hover{
    transform: rotateX(35deg);
}